.footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	// padding-top: 1000px;
	// margin-top: 1000px;
	// max-width: 1240px;
	position: relative;

	height: 499px;
	margin: 0 auto;
	background-color: #245d30;
	.card1 {
		display: flex;
		flex-direction: column;
		gap: 50px;
		.btn {
			display: flex;
			align-items: center;
			gap: 12px;
			button {
				width: 28px;
				height: 28px;
				border-radius: 50%;
				border: none;
			}
		}
	}
	.card {
		display: flex;
		flex-direction: column;
		gap: 10px;
		h6 {
			font-family: Montserrat;
			font-weight: 500;
			font-style: Medium;
			font-size: 16px;
			color: #fff;
			line-height: 18px;
			letter-spacing: 3px;
			text-transform: uppercase;
		}
		p {
			font-family: Montserrat;
			font-weight: 400;
			font-style: Regular;
			font-size: 16px;
			color: #ffffff99;
			line-height: 19px;
			letter-spacing: 0px;
		}
	}
	// .footer_bot {
	// 	background-color: #245d30;
	// 	max-width: 100%;
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: space-between;
	// 	max-width: 1240px;
	// 	margin: 0 auto;
	// 	p {
	// 		font-family: Satoshi;
	// 		font-weight: 400;
	// 		font-style: Regular;
	// 		font-size: 14px;
	// 		color: #ffffff99;
	// 		line-height: 100%;
	// 		letter-spacing: 0%;
	// 		text-align: right;
	// 	}
	// 	.five{
	// 		display: flex;
	// 		align-items: center;
	// 		gap: 7px;
	// 		background-color: #fff;
	// 	}
	// }
}
