.my-header {
	padding-top: 15px;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1240px;
		margin: 0 auto;
		.menu {
			display: flex;
			align-items: center;
			list-style: none;
			gap: 35px;
			li {
				transition: all 300ms ease;
				cursor: pointer;
				&:hover {
					color: #245d30;
				}
			}
		}
		.rigth {
			display: flex;
			align-items: center;
			gap: 16px;
			input {
				width: 278px;
				height: 38px;
				background-color: #f0f0f0;
				border-radius: 62px;
				border: none;
				padding-left: 20px;
				outline: none;
			}
		}
	}
}
