.products {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
	gap: 20px;
	margin-top: 50px;
}

.product-card {
	background: #fff;
	padding: 16px;
	border-radius: 16px;
	transition: 0.3s;

	.image-box {
		background: #eaf6ea;
		border-radius: 12px;
		padding: 10px;
		margin-bottom: 10px;

		img {
			width: 100%;
			height: 298px;
			object-fit: contain;
		}
	}

	h3 {
		font-size: 15px;
		margin: 8px 0;
	}

	.rating {
		font-size: 13px;
		color: #f59e0b;
	}

	.price_list {
		display: flex;
		justify-content: space-between;
		.price {
			margin: 8px 0;

			.current {
				font-weight: bold;
			}

			.old {
				margin-left: 8px;
				color: #999;
				text-decoration: line-through;
				font-size: 13px;
			}
		}

		button {
			border: none;
			background: transparent;
			color: #fff;
			padding: 8px 14px;
			border-radius: 8px;
			cursor: pointer;
		}
	}
}
