.Kategory {
	margin: 0 auto 1200px;
	max-width: 1240px;
	height: 100vh;

	h1 {
		padding-top: 155px;
		margin-bottom: 20px;
		text-align: center;
	}
	.kard {
		display: flex;
		align-items: center;
		margin: 0 auto;
		width: 100%;
		justify-content: space-between;
		cursor: pointer;
		.first {
			display: flex;
			gap: 5px;
			margin-top: 70px;
			padding: 10px;
			transition: all 300ms ease;
			&:hover {
				gap: 8px;
				color: #000000;
				opacity: 1;
				border-radius: 30px;
				border-width: 1px;
				border: solid 2px #000;
			}
		}
	}
}
