.main-section {
	max-width: 1240px;
	margin-top: 50px;
	padding-left: 100px;
	position: absolute;
	margin: 0 auto;
	height: 100vh;
	h1 {
		font-family: Montserrat;
		font-weight: 700;
		font-style: Bold;
		font-size: 50px;
		color: #151515;
		line-height: 64px;
		letter-spacing: -1.34px;
		text-align: center;
		vertical-align: middle;
	}
	.qusest {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
    margin: 0 auto;

		gap: 12px;
		details {
			width: 792px;
			height: 64px;
			border-radius: 16px;
			background: #f5f5f5;
			padding: 20px;
		}
	}
}
